@page
@model hrmProject.Pages_Department.DetailsModel

@{
    ViewData["Title"] = "Chi tiết";
}

<h1>Phòng ban @Model.Department.Department_name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Department_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Department_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.HomeAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.HomeAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Department.Department_id">Sửa</a> |
    <a asp-page="./Index">Quay trở lại danh sách</a>
</div>
